@model Pizza_Shop.Models.Topping

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Topping</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <b>Ingredient</b>
        </dt>
        <dd class = "col-sm-10">
           <i>@Html.DisplayFor(model => model.ToppingName)</i>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ToppingID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
