@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Pizza Shop</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Pizza Shop</h2>
        <p>
            The Pizza Shop is a simple application that allows you to create and manage Pizzas.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Pizza Store Owner</h2>
        <p>Here you can manage Toppings.</p>
        <p><a class="btn btn-default" href="/Toppings/Index">Owner &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pizza Chef</h2>
        <p>Here you can manage Pizzas.</p>
        <p><a class="btn btn-default" href="/Pizzas/Index">Chef &raquo;</a></p>
    </div>
</div>
